---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//Photo on home page

.author__avatar {
  img {
    max-width: 250px;  // Increase this value to make the image larger
    border-radius: 50%;  // Keep this if you want a circular image
 }
}

//Banner on home page
.page__hero--overlay {
  padding: 0 !important;
  height: 100px !important; // Reduced to make it shorter
  min-height: 100px !important; // Added to override any min-height settings
  max-height: 100px !important; // Added to ensure it doesn't expand
  overflow: hidden !important;
}

.page__hero--overlay .wrapper {
  height: auto;
}

.page__hero--overlay .page__hero-image {
  object-position: center center;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}