---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//Photo on home page

.author__avatar {
  img {
    max-width: 250px;  // Increase this value to make the image larger
    border-radius: 50%;  // Keep this if you want a circular image
 }
}

//Banner on home page

..page__hero--overlay {
  padding: 0em 0;
  height: 100px; // Reduced from 200px to make it shorter
  overflow: hidden;
}

.page__hero--overlay .wrapper {
  height: auto;
}

.page__hero-image {
  object-position: center center; // This centers the image vertically and horizontally
  height: 100%;
  object-fit: cover;
}